/* add home page styles here */
h1{
    font-size: 3rem;
    text-shadow: 4px 0 3px;
}
 button{
    border: none;
    height: 30px;
    width: 30px;
    margin: 8px;
    border-radius: 5px;
    background-color: #0db5f2;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}

#clear{
    width: 60px;
    background-color: lightpink;
}
.input{
    font-size: 1.5rem;
    text-align: center;
}
::placeholder {
    color:lightgrey;
    font-size: 0.7em;
  }
.results{
    font-size: 2rem;
}

   
